@model List<Postagem>
@{
        ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Blog da Bia</h1>
    <p>Confira as últimas receitas e novidades do mundo!!!.</p>
    <p>Morango do amor é aquela receita que vai fazer você se apaixonar. Inspirada na aparência da maçã do amor e no
        recheio cremoso da bala baiana, a receita de morango do amor une sabores e texturas irresistíveis para fazer um 
        doce que é garantia de sucesso por onde passa.</p>
</div>

@foreach (Postagem postagem in Model)
{
    <p>@postagem.Nome</p>
    <img src="@postagem.Foto" width="300"/>
}
